/* /Styling All Pages ... NB: All Pages are by default styled with Bootstrap, this is to add extra styling */

/* Index Page */
#root{
  /* background-color: #b8b2b27d; */
  box-sizing: border-box;
  margin: 0;
}

/* Background Animation */
html, body {
	width: 100%;
	height:100%;
  }
  
  body {
	  /* background: linear-gradient(-45deg, #9eacc4,#ee7752, #e73c7e, #23a6d5, #23d5ab); */
	  /* background: linear-gradient(-45deg, #6a7ea2, #63766d, #726b6b, #414442); */
    background: linear-gradient(to bottom right, #ffffffcb 0%,whitesmoke 100%);
	  background-size: 400% 400%;
	  animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
	  0% {
		  background-position: 0% 50%;
	  }
	  50% {
		  background-position: 100% 50%;
	  }
	  100% {
		  background-position: 0% 50%;
	  }
  }

.jumbotron {
  margin: 15px auto;
  max-width: 1100px;
  background-color: #ccdfd5;
}

.showcase {
  margin: 20px auto;
  /* display: grid; */
}


.showcase .projectAuthors{
  text-decoration: none;
  cursor: default;
  font-weight: 700;
  color: #198754;
  font-size: 16px;
}
.showcase .projectTags{
  text-decoration: none;
  cursor: pointer;
  font-weight: small;
  color: #198754;  
}

.showcase .projectText{
  text-decoration: none;
  margin-bottom: 0px;
  cursor: default;
  font-weight: small;
}

.showcase .projCard .singleCard{
  background-color: whitesmoke;
}


/* COMMENTING */
.div-inline{
  /* display:inline-block; */
  display:inline-flex;
  
  padding-bottom: 30px;
  float: right;
  /* align-items: flex-end; */
}


@media screen and (max-width:700px) {
  .showcase {
      margin: 20px auto;
      display: grid;
  }
  .projCard {
      margin-top: 10px;
      display: grid;
      /* display: flex; */
  }
}

@media screen and (min-width:701px) {
  .showcase {
      margin: 20px auto;
      display: flex;
      /* display: grid; */
  }
  .projCard {
      margin-top: 10px;
      display: grid;
  }
}

@media only screen and (min-width: 702px) and (max-width: 961px) {
  /* // do something in this width range. */
  .showcase {
      margin: 0px auto;
      display: grid;
      grid-template-columns: 2fr 2fr;
  }
  .projCard {
      margin-top: 10px;
  }
}

@media only screen and (min-width: 962px) and (max-width: 991px) {
  /* // do something in this width range. */
  .showcase {
      margin: 0px auto;
      display: grid;
      grid-template-columns: 2fr 2fr 2fr;
      
  }
  .projCard {
      margin-top: 10px;
      /* display: flex; */
  }
}

/* General footer Div styling */

.footerDiv {
  background-color: #dcdcdc;
  text-align: center;
  margin: 20px 0 10px 0px;
  padding: 6px 0 1px 0;

}


/* Login page */

#loginContainer {
  max-width: 1000px;
  margin: 20px auto;
}


/* createProject Page */

#projH3 {
  margin-top: 20px;
}


/* edit Project Page */

#epProjH2 {
  margin: 20px 0 10px 20px;
}

#epRow {
  background-color: gainsboro;
  margin: 0px auto 20px 20px;
  padding: 5px 0px 5px 10px;
}

#epFormRow {
  margin: 0px -16px 0px 3px;
}

#epCardBlock {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}


/* profile Page */

.profP {
  margin: 40px auto 20px 20px;
}

.profP span {
  font-size: 20px;
}

#profDiv {
  margin-right: 10%;
  margin-left: 10%;
}

#profP2 {
  margin: 20px auto;
}

#profP2 span {
  font-size: 20px;
}


/* register/sign Up Page*/

#signupForm h2 {
  padding-top: 20px;
}

#rBtn1 {
  margin-top: -10px;
}


/* search Page */

#searchP1 {
  margin: 40px 0px 20px 0px;
  font-weight: bold;
  font-size: 30px
}

#searchRow1 {
  background-color: lightgray;
  padding: 10px 5px 10px 0px;
  margin: auto;
}

#searchByButton {
  background-color: #a9a9a957;
}

#searchP2 {
  margin: 40px 40px 0px 30px;
}

#searchRow2 {
  margin: 10px;
}

#searchRow2Card1 {
  padding: 20px;
}

#searchH6 {
  font-size: 20px;
  margin-bottom: 0px;
  color: dodgerblue;
}

.searchSpanColor {
  color: dodgerblue;
}

.searchCard {
  padding: 20px;
}

.searchCardTitleH6 {
  font-size: 20px;
  margin-bottom: 0px;
  color: dodgerblue;
}

/* Pagination styles.. green background and color for text */
/* .pagination {
  z-index:3;
  color: #fff !important;
  background-color: red !important;
} */

/* .paginationNavs {
    border: none !important;
} */

a.page-link {
  color: #198754 !important;
}

.paginationNavsActive span.page-link {

  color: #fff !important;
  background-color: #198754 !important;
  border-color: #198754 !important;
  /* border: none; */
}

/* view Project Page */

#project_abstract {
  padding-right: 10px;
}

#project_name {
  margin-top: 10px;
}

#project_authors p {
  padding: "0px 5px";
}

#vpCardBlock {
  text-align: center;
}


@media screen and (max-width:767px) {
  #editBtn {
      margin-bottom: 10px;
  }
}

@media screen and (max-width:569px) {
  .navSearchBtn {
      margin-top: 10px;
  }
  .headerNav{
    display: grid;
  }
} 

